In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import glob
import os
import natsort
import librosa

# Coyote

In [2]:
data_list = os.listdir('dataset/coyote') # directory path of the audio dataset
data_list = natsort.natsorted(data_list) # sorting the dataset

In [3]:
dataset_coyote=pd.DataFrame() #dataframe

### USER has to change below path manually

In [ ]:
file_path = 'C:/Users/binny/PURDUE/dataset/coyote/'#dataset path
file_name_list=[]
length_list=[]

In [ ]:
for file in data_list:
    file_name_list.append(file) #file name
    audio, sr = librosa.load(file_path+file) #audio load
    length_list.append(librosa.get_duration(y=audio, sr=sr)) #audio length

#add column
dataset_coyote['file_name']=file_name_list
dataset_coyote['length']=length_list
dataset_coyote['animal']='coyote'
dataset_coyote['label']=1

In [5]:
dataset_coyote.head()

      file_name  length  animal  label
0  coyote_1.wav     5.0  coyote      1
1  coyote_2.wav     5.0  coyote      1
2  coyote_3.wav     5.0  coyote      1
3  coyote_4.wav     5.0  coyote      1
4  coyote_5.wav     5.0  coyote      1

In [6]:
print(dataset_coyote)

            file_name  length  animal  label
0        coyote_1.wav     5.0  coyote      1
1        coyote_2.wav     5.0  coyote      1
2        coyote_3.wav     5.0  coyote      1
3        coyote_4.wav     5.0  coyote      1
4        coyote_5.wav     5.0  coyote      1
...               ...     ...     ...    ...
1155  coyote_1156.wav     5.0  coyote      1
1156  coyote_1157.wav     5.0  coyote      1
1157  coyote_1158.wav     5.0  coyote      1
1158  coyote_1159.wav     5.0  coyote      1
1159  coyote_1160.wav     5.0  coyote      1

[1160 rows x 4 columns]

# Fox

In [9]:
data_list = os.listdir('dataset/fox') # directory path of the audio dataset
data_list = natsort.natsorted(data_list) # sorting the dataset

In [10]:
dataset_fox=pd.DataFrame() #dataframe

### USER has to change below path manually

In [ ]:
file_path = 'C:/Users/binny/PURDUE/dataset/fox/'
file_name_list=[]
length_list=[]

In [11]:
for file in data_list:
    file_name_list.append(file) #file name
    audio, sr = librosa.load(file_path+file) #audio load
    length_list.append(librosa.get_duration(y=audio, sr=sr)) #audio length

#add column
dataset_fox['file_name']=file_name_list
dataset_fox['length']=length_list
dataset_fox['animal']='fox'
dataset_fox['label']=0

In [12]:
print(dataset_fox)

       file_name  length animal  label
0      fox_1.wav     5.0    fox      0
1      fox_2.wav     5.0    fox      0
2      fox_3.wav     5.0    fox      0
3      fox_4.wav     5.0    fox      0
4      fox_5.wav     5.0    fox      0
..           ...     ...    ...    ...
115  fox_116.wav     5.0    fox      0
116  fox_117.wav     5.0    fox      0
117  fox_118.wav     5.0    fox      0
118  fox_119.wav     5.0    fox      0
119  fox_120.wav     5.0    fox      0

[120 rows x 4 columns]

# Dog

In [13]:
data_list = os.listdir('datase/dog') # directory path of the audio dataset
data_list = natsort.natsorted(data_list) # sorting the dataset

In [14]:
dataset_dog=pd.DataFrame() #dataframe

### USER has to change below path manually

In [ ]:
file_path = 'C:/Users/binny/PURDUE/dataset/dog/'
file_name_list=[]
length_list=[]

In [15]:
for file in data_list:
    file_name_list.append(file) #file name
    audio, sr = librosa.load(file_path+file) #audio load
    length_list.append(librosa.get_duration(y=audio, sr=sr)) #audio length

#add column    
dataset_dog['file_name']=file_name_list
dataset_dog['length']=length_list
dataset_dog['animal']='dog'
dataset_dog['label']=0

In [16]:
print(dataset_dog)

       file_name  length animal  label
0      dog_1.wav     5.0    dog      0
1      dog_2.wav     5.0    dog      0
2      dog_3.wav     5.0    dog      0
3      dog_4.wav     5.0    dog      0
4      dog_5.wav     5.0    dog      0
..           ...     ...    ...    ...
296  dog_297.wav     5.0    dog      0
297  dog_298.wav     5.0    dog      0
298  dog_299.wav     5.0    dog      0
299  dog_300.wav     5.0    dog      0
300  dog_301.wav     5.0    dog      0

[301 rows x 4 columns]

# Chicken

In [17]:
data_list = os.listdir('dataset/chicken') # directory path of the audio dataset
data_list = natsort.natsorted(data_list) # sorting the dataset

In [18]:
dataset_chicken=pd.DataFrame() #dataframe

### USER has to change below path manually

In [ ]:
file_path = 'C:/Users/binny/PURDUE/dataset/chicken/'
file_name_list=[]
length_list=[]

In [19]:
for file in data_list:
    file_name_list.append(file) #file name
    audio, sr = librosa.load(file_path+file) #audio load
    length_list.append(librosa.get_duration(y=audio, sr=sr)) #audio length

#add column    
dataset_chicken['file_name']=file_name_list
dataset_chicken['length']=length_list
dataset_chicken['animal']='chicken'
dataset_chicken['label']=0

In [20]:
print(dataset_chicken)

           file_name    length   animal  label
0      chicken_1.wav  5.000000  chicken      0
1      chicken_2.wav  5.000000  chicken      0
2      chicken_3.wav  5.000000  chicken      0
3      chicken_4.wav  5.000000  chicken      0
4      chicken_5.wav  5.000000  chicken      0
..               ...       ...      ...    ...
351  chicken_352.wav  5.000000  chicken      0
352  chicken_353.wav  5.000000  chicken      0
353  chicken_354.wav  5.000000  chicken      0
354  chicken_355.wav  5.000000  chicken      0
355  chicken_356.wav  4.768481  chicken      0

[356 rows x 4 columns]

# Bird

In [21]:
data_list = os.listdir('dataset/bird') # directory path of the audio dataset
data_list = natsort.natsorted(data_list) # sorting the dataset

In [22]:
dataset_bird=pd.DataFrame() #dataframe

### USER has to change below path manually

In [ ]:
file_path = 'C:/Users/binny/PURDUE/dataset/bird/'
file_name_list=[]
length_list=[]

In [23]:
for file in data_list:
    file_name_list.append(file) #file name
    audio, sr = librosa.load(file_path+file) #audio load
    length_list.append(librosa.get_duration(y=audio, sr=sr)) #audio length

#add column    
dataset_bird['file_name']=file_name_list
dataset_bird['length']=length_list
dataset_bird['animal']='bird'
dataset_bird['label']=0

In [24]:
print(dataset_bird)

        file_name  length animal  label
0      bird_1.wav     5.0   bird      0
1      bird_2.wav     5.0   bird      0
2      bird_3.wav     5.0   bird      0
3      bird_4.wav     5.0   bird      0
4      bird_5.wav     5.0   bird      0
..            ...     ...    ...    ...
592  bird_593.wav     5.0   bird      0
593  bird_594.wav     5.0   bird      0
594  bird_595.wav     5.0   bird      0
595  bird_596.wav     5.0   bird      0
596  bird_597.wav     5.0   bird      0

[597 rows x 4 columns]

### Combine all Dateframe

In [25]:
df_list = [dataset_coyote, dataset_fox, dataset_dog, dataset_chicken, dataset_bird]
df_all = pd.concat(df_list, ignore_index=True)

In [26]:
print(df_all)

         file_name  length  animal  label
0     coyote_1.wav     5.0  coyote      1
1     coyote_2.wav     5.0  coyote      1
2     coyote_3.wav     5.0  coyote      1
3     coyote_4.wav     5.0  coyote      1
4     coyote_5.wav     5.0  coyote      1
...            ...     ...     ...    ...
2529  bird_593.wav     5.0    bird      0
2530  bird_594.wav     5.0    bird      0
2531  bird_595.wav     5.0    bird      0
2532  bird_596.wav     5.0    bird      0
2533  bird_597.wav     5.0    bird      0

[2534 rows x 4 columns]

### Extract csv

In [27]:
df_all.to_csv('dataset_5sec_final.csv')